.App {
  font-family: sans-serif;
}

.App .weather-container {
  background-color: white;
  margin: 90px auto 0 auto;
  padding: 40px;
  max-width: 580px;
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgb(228, 228, 228);
}

.App footer {
  text-align: center;
}

@media (max-width: 600px) {
  .App .weather-container {
    margin: 55px 10px 0 10px;
  }
}
