.Today h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  text-transform: capitalize;
}

.Today h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.Today .temperature {
  font-size: 50px;
  line-height: 1;
}

.Today .unit {
  position: relative;
  top: -25px;
  margin-left: 5px;
}

.Today .its-a-row {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .Today .its-a-row {
    display: block;
    text-align: center;
  }

  .Today .column {
    margin: 15px auto;
  }
}

@media (max-width: 575px) {
  .Today .row {
    text-align: center;
  }
}
